{% extends "core/base.html" %}

{% block titulo_da_pagina %}
Acervo - Periódicos
{% endblock  %}


{% comment %} Listagee de livros {% endcomment %}
{% block conteudo%}

{% comment %} Cadastro de livro {% endcomment %}
<section class="d-grid justify-content-md-end">
    <a href="/periodicos/form" type="button" class="btn btn-success btn-sm">Cadastrar Periódico</a>
</section>

{% comment %} CRIA UMA querystring SEM PAGE {% endcomment %}
{% with request.GET.search as querystring %}

{% comment %} Título e Pesquisa {% endcomment %}
<div>
    <h1 class="mb-4">Periódicos</h1>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="search" value="{{querystring}}" placeholder="Buscar periódicos..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>


{% comment %} Tabela de livros {% endcomment %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Área do Acervo</th>
            <th scope="col">ISSN</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for periodico in periodicos %}
            <tr>
                <th scope="row">
                    <a href="/periodicos/{{ periodico.id }}">{{ periodico.id }}</a>
                </th>
                <td><a href="/periodicos/{{ periodico.id }}">{{ periodico.titulo }}</a></td>
                <td><a href="/periodicos/{{ periodico.id }}">{{ periodico.area_acervo }}</a></td>
                <td><a href="/periodicos/{{ periodico.id }}">{{ periodico.issn }}</a></td>
                <td>
                    <a href="form/{{ periodico.id }}" class="btn btn-success btn-sm">Editar</a>
                    <a href="excluir/{{ periodico.id }}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% comment %} Paginação {% endcomment %}
{% include "core/paginacao.html" %}

{% endwith %}
{% endblock conteudo %}