{% extends "core/base.html" %}

{% block titulo_da_pagina %}
Acervo - Periódicos
{% endblock  %}


{% comment %} Listagee de livros {% endcomment %}
{% block conteudo%}

{% comment %} Cadastro de livro {% endcomment %}
<section class="d-grid justify-content-md-end">
    {% if user.is_authenticated %}
    <a href="{% url 'periodicos_cadastrar' %}" type="button" class="btn btn-success btn-sm">Cadastrar Periódico</a>
    {% else %}
    <span class="btn btn-success btn-sm invisible" aria-hidden="true">Cadastrar Periódico</span>
    {% endif %}
</section>

{% comment %} CRIA UMA querystring SEM PAGE {% endcomment %}
{% with request.GET.search as querystring %}

{% comment %} Título e Pesquisa {% endcomment %}
<div>
    <h1 class="mb-4">📰 Periódicos</h1>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="search" value="{{querystring}}" placeholder="Buscar periódicos..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>


{% comment %} Tabela de livros {% endcomment %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Área do Acervo</th>
            <th scope="col">Assunto</th>
            <th scope="col">ISSN</th>
            {% if user.is_authenticated %}
                <th scope="col">Ações</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for periodico in periodicos %}
            <tr>
                <th scope="row">
                    <a href="{% url 'periodicos_detalhe' periodico.id %}">{{ periodico.id }}</a>
                </th>
                <td><a href="{% url 'periodicos_detalhe' periodico.id %}">{{ periodico.titulo }}</a></td>
                <td><a href="{% url 'periodicos_detalhe' periodico.id %}">{{ periodico.area_acervo }}</a></td>
                <td><a href="{% url 'periodicos_detalhe' periodico.id %}">{{ periodico.assunto }}</a></td>
                <td><a href="{% url 'periodicos_detalhe' periodico.id %}">{{ periodico.issn }}</a></td>
                {% if user.is_authenticated %}
                <td>
                    <a href="{% url 'periodicos_alterar' periodico.id %}" class="btn btn-success btn-sm">Editar</a>
                    <a href="{% url 'periodicos_excluir' periodico.id %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
                {% endif %}
            </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">Nenhum periódico encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% comment %} Paginação {% endcomment %}
{% include "core/paginacao.html" %}

{% endwith %}
{% endblock conteudo %}