{% extends "core/base.html" %}

{% block titulo_da_pagina %}
Acervo - Livros
{% endblock  %}

{%block conteudo %}

{% if not livros.pk %}
    <h1 class="mb-4" style="padding-top: 31px;">Cadastrar Livro</h1>
{% else %}
    <h1 class="mb-4" style="padding-top: 31px;">Editar Livro</h1>
{% endif %}
        
{% comment %} Formulário de Livros {% endcomment %}
<form method="POST" class="row g-3">
    {% csrf_token %}

    <div class="row g-3">
        <div class="col-md-6">
            <label for="{{ form.titulo.id_for_label }}" class="form-label">{{ form.titulo.label }}</label>
            <input type="text" name="{{ form.titulo.name }}" id="{{ form.titulo.id_for_label }}" value="{{ form.titulo.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-6">
            <label for="{{ form.sub_titulo.id_for_label }}" class="form-label">{{ form.sub_titulo.label }}</label>
            <input type="text" name="{{ form.sub_titulo.name }}" id="{{ form.sub_titulo.id_for_label }}" value="{{ form.sub_titulo.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-6">
            <label for="{{ form.colecao.id_for_label }}" class="form-label">{{ form.colecao.label }}</label>
            <input type="text" name="{{ form.colecao.name }}" id="{{ form.colecao.id_for_label }}" value="{{ form.colecao.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-6">
            <label for="{{ form.edicao.id_for_label }}" class="form-label">{{ form.edicao.label }}</label>
            <input type="text" name="{{ form.edicao.name }}" id="{{ form.edicao.id_for_label }}" value="{{ form.edicao.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-6">
            <label for="{{ form.local.id_for_label }}" class="form-label">{{ form.local.label }}</label>
            <input type="text" name="{{ form.local.name }}" id="{{ form.local.id_for_label }}" value="{{ form.local.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-6">
            <label for="{{ form.editora.id_for_label }}" class="form-label">{{ form.editora.label }}</label>
            <input type="text" name="{{ form.editora.name }}" id="{{ form.editora.id_for_label }}" value="{{ form.editora.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-4">
            <label for="{{ form.ano.id_for_label }}" class="form-label">{{ form.ano.label }}</label>
            <input type="number" name="{{ form.ano.name }}" id="{{ form.ano.id_for_label }}" value="{{ form.ano.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-4">
            <label for="{{ form.mes_ano_publicacao.id_for_label }}" class="form-label">{{ form.mes_ano_publicacao.label }}</label>
            <input type="date" name="{{ form.mes_ano_publicacao.name }}" id="{{ form.mes_ano_publicacao.id_for_label }}" value="{{ form.mes_ano_publicacao.value|date:'Y-m-d'|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-4">
            <label for="{{ form.paginas.id_for_label }}" class="form-label">{{ form.paginas.label }}</label>
            <input type="number" name="{{ form.paginas.name }}" id="{{ form.paginas.id_for_label }}" value="{{ form.paginas.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-6">
            <label for="{{ form.volume.id_for_label }}" class="form-label">{{ form.volume.label }}</label>
            <input type="text" name="{{ form.volume.name }}" id="{{ form.volume.id_for_label }}" value="{{ form.volume.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-6">
            <label for="{{ form.tomo.id_for_label }}" class="form-label">{{ form.tomo.label }}</label>
            <input type="text" name="{{ form.tomo.name }}" id="{{ form.tomo.id_for_label }}" value="{{ form.tomo.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-6">
            <label for="{{ form.chamada.id_for_label }}" class="form-label">{{ form.chamada.label }}</label>
            <input type="text" name="{{ form.chamada.name }}" id="{{ form.chamada.id_for_label }}" value="{{ form.chamada.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-6">
            <label for="{{ form.num_tombamento.id_for_label }}" class="form-label">{{ form.num_tombamento.label }}</label>
            <input type="text" name="{{ form.num_tombamento.name }}" id="{{ form.num_tombamento.id_for_label }}" value="{{ form.num_tombamento.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-6">
            <label for="{{ form.assunto.id_for_label }}" class="form-label">{{ form.assunto.label }}</label>
            <input type="text" name="{{ form.assunto.name }}" id="{{ form.assunto.id_for_label }}" value="{{ form.assunto.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-md-6">
            <label for="{{ form.area_acervo.id_for_label }}" class="form-label">{{ form.area_acervo.label }}</label>
            <input type="text" name="{{ form.area_acervo.name }}" id="{{ form.area_acervo.id_for_label }}" value="{{ form.area_acervo.value|default_if_none:'' }}" class="form-control border border-dark">
        </div>

        <div class="col-12">
            <label for="{{ form.descricao.id_for_label }}" class="form-label">{{ form.descricao.label }}</label>
            <textarea name="{{ form.descricao.name }}" id="{{ form.descricao.id_for_label }}" class="form-control border border-dark" rows="3">{{ form.descricao.value|default_if_none:'' }}</textarea>
        </div>

        <div class="col-12">
            <label for="{{ form.referencia_ABNT.id_for_label }}" class="form-label">{{ form.referencia_ABNT.label }}</label>
            <textarea name="{{ form.referencia_ABNT.name }}" id="{{ form.referencia_ABNT.id_for_label }}" class="form-control border border-dark" rows="3">{{ form.referencia_ABNT.value|default_if_none:'' }}</textarea>
        </div>

        <div class="col-12">
            <label for="{{ form.nota.id_for_label }}" class="form-label">{{ form.nota.label }}</label>
            <textarea name="{{ form.nota.name }}" id="{{ form.nota.id_for_label }}" class="form-control border border-dark" rows="3">{{ form.nota.value|default_if_none:'' }}</textarea>
        </div>

        <div class="col-12">
            <div class="form-check">
                <input type="checkbox" name="{{ form.disponibilidade.name }}" id="{{ form.disponibilidade.id_for_label }}" class="form-check-input" {% if form.disponibilidade.value %}checked{% endif %}>
                <label for="{{ form.disponibilidade.id_for_label }}" class="form-check-label">{{ form.disponibilidade.label }}</label>
            </div>
        </div>
    </div>

    <div class="col-6">
        <button type="submit" class="btn btn-success btn-sm">Salvar</button>
        <a href="javascript:history.back()" type="button" class="btn btn-secondary btn-sm">Cancelar</a>
    </div>
</form>

{% endblock conteudo %}