{% extends "core/base.html" %}

{% block titulo_da_pagina %}
Acervo - Livros
{% endblock  %}

{% comment %} Listagem de livros {% endcomment %}
{% block conteudo%}

{% comment %} Cadastro de livro {% endcomment %}
<section class="d-grid justify-content-md-end">
    <a href="{% url 'livros_cadastrar' %}" type="button" class="btn btn-success btn-sm">Cadastrar Livro</a>
</section>

{% comment %} CRIA UMA querystring SEM PAGE {% endcomment %}
{% with request.GET.search as querystring %}

{% comment %} Título e Pesquisa {% endcomment %}
<div>
    <h1 class="mb-4">Livros</h1>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="search" value="{{querystring}}" placeholder="Buscar livros..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>

{% comment %} Tabela de livros {% endcomment %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Área do Acervo</th>
            <th scope="col">Nº de Tombamento</th>
            <th scope="col">Chamada</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for livro in livros %}
            <tr>
                <th scope="row">
                    <a href="{% url 'livros_detalhe' livro.id %}">{{ livro.id }}</a>
                </th>
                <td><a href="{% url 'livros_detalhe' livro.id %}">{{ livro.titulo }}</a></td>
                <td><a href="{% url 'livros_detalhe' livro.id %}">{{ livro.area_acervo }}</a></td>
                <td><a href="{% url 'livros_detalhe' livro.id %}">{{ livro.num_tombamento }}</a></td>
                <td><a href="{% url 'livros_detalhe' livro.id %}">{{ livro.chamada }}</a></td>
                <td>
                    <a href="{% url 'livros_alterar' livro.id %}" class="btn btn-success btn-sm">Editar</a>
                    <a href="{% url 'livros_excluir' livro.id %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center">Nenhum livro encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% comment %} Paginação {% endcomment %}
{% include "core/paginacao.html" %}

{% endwith %}
{% endblock conteudo %}